@font-face {
  font-family: 'IntroRust-Base';
  src: url('IntroRust-Base.eot');
  src: url('IntroRust-Base.eot?#iefix') format('embedded-opentype'),
       url('IntroRust-Base.ttf') format('truetype'),
       url('IntroRust-Base.woff') format('woff'),
       url('IntroRust-Base.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

